$$ \LARGE\bf{EXAM \ PROJECT \ ISDS 2022} $$

$\textbf{Imports}$

In [1]:
import requests
import json
import numbers
import pandas as pd
from bs4 import BeautifulSoup
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

$\textbf{Data}$, housing prices boliga.dk - ONLY FOR FIRST PAGE

In [2]:
#1. Load page boliga.dk
url_boliga = "https://www.boliga.dk/resultat?propertyType=3"
response_boliga = requests.get(url_boliga,headers={'name':'Sevda Öztürk','email':'txg194b@alumni.ku.dk'})
soup = BeautifulSoup(response_boliga.content,"lxml")

#2. Scrape housing prices from www.boliga.dk
list_price = soup.find_all("div" ,class_ = "price")
price = [col.text.split(u'\xa0')[0] for col in list_price]

$\bf{Data}$, address, zipcode from boliga.dk -  ONLY FOR FIRST PAGE

In [3]:
#1. Scrape address from www.boliga.dk (first page)
list_address = soup.find_all("div" ,class_ = 'w-100 mt-1 listing-address font-weight-bold text-nowrap text-truncate')
address = [col.text.split(',',1)[0] for col in list_address]

#2. Scrape zipcode from www.boliga.dk (first page)
list_zipcode = soup.find_all("div" ,class_ = "zip-color text-nowrap text-truncate")
zipcode = [col.text for col in list_zipcode]

$\textbf{Data}$, m2, rooms from boliga.dk -  ONLY FOR FIRST PAGE

In [4]:
#1. Scrape size of houses
list_m2 = soup.find_all("span" ,class_ = "text-nowrap")
m2 = [col.text.split() for col in list_m2]

#the variable m2 is a list of lists. The following code keeps the first element of every sublist to get rid of the string "m2"
m2 = [element[0] for element in m2]

del m2[0] #delete first element in m2 in order to get all m2 in next code
m2 = m2[::6] #we now keep every 6th element, which is the size of every address

#2. Scrape number of rooms and prepare
list_rooms = soup.find_all("span" ,class_ = "text-nowrap")
rooms = [col.text.split() for col in list_rooms]
rooms = rooms[::6]
rooms = [element[1] for element in rooms]
rooms

for i in range(len(rooms)):
    if rooms[i] == 'værelse':
        rooms[i] = '1'

$\bf{Combine \ data \ in \ one \ dataset}$

In [5]:
#1. Combine all scraped lists in one dataframe
df_addzip = {"Price": price, "Address": address, "Zipcode": zipcode, "m2": m2, "rooms" : rooms}
df_data = pd.DataFrame(df_addzip)
#df_data

$\bf{Use \ combined \ dataset \ to \ get \ x,y \ coordinates}$, distance to nearest (daycare eksempel)

In [6]:
#1. Get longitude and latitude of each address in df_data["Address"]
z = []

for a in df_data["Address"]:    
    response_dist = requests.get(f"https://api.dataforsyningen.dk/adresser?q={a}&struktur=mini",headers={'name':'Sevda Öztürk','email':'txg194@alumni.ku.dk'})
    res_j = response_dist.json()
    z.append(res_j)

#2 Get longitude, x, and latitudes, y from address i
length = list(range(len(z)))
x = []
y = []

for i in length:
    xx = z[i][0]["x"]
    x.append(xx)
    
for i in length:
    yy = z[i][0]["y"]
    y.append(yy)

In [7]:
#3. Add x and y to dataset df_data
df_data["x"], df_data["y"] = x, y
#df_data["yx"] = df_data['y'] + ',' + df_data['x']
df_data

,Price,Address,Zipcode,m2,rooms,x,y
0,595.000,Grøfthøjparken 151,8260 Viby J,33,1,10.136680,56.123838
1,1.248.000,Ingemanns Alle 175B,6700 Esbjerg,72,2,8.473389,55.472914
2,1.345.000,Højagerparken 19,2750 Ballerup,46,1,10.039818,56.212746
3,1.399.000,Lotusvej 18,5250 Odense SV,91,4,12.146738,55.791236
4,1.895.000,Sthensvej 7A,2630 Taastrup,54,1,12.299210,55.655865
5,1.900.000,Hjelmensgade 22,8000 Aarhus C,66,2,10.209005,56.162319
6,2.150.000,Roskildevænget 6,4000 Roskilde,71,3,12.092344,55.627380
7,2.195.000,Borgergade 23A,8700 Horsens,134,5,9.855443,55.861479
8,2.295.000,Buegården 5,2880 Bagsværd,60,2,12.457757,55.760414
9,2.395.000,Skjoldagervej 72,2820 Gentofte,57,2,12.528949,55.760907
10,2.695.000,Ålandsgade 5,2300 København S,50,2,12.604780,55.664319
11,2.995.000,Kantorparken 16,8240 Risskov,116,4,12.538193,55.721744
12,3.195.000,Ewaldsensvej 12,2000 Frederiksberg,66,2,12.508375,55.681198
13,3.595.000,Matthæusgade 46B,1666 København V,54,2,12.547394,55.669808
14,3.595.000,Poppellunden 8,4000 Roskilde,92,3,11.305468,55.511138
15,3.650.000,Jyllingevej 4,2720 Vanløse,93,4,12.493236,55.693830
16,3.700.000,Burmeistersgade 19,1429 København K,51,4,12.598764,55.675829
17,4.395.000,C.F. Møllers Allé 58,2300 København S,93,3,12.578769,55.634330
18,5.195.000,Ben Websters Vej 106,2450 København SV,87,3,12.552915,55.645997
19,5.998.000,Sjællandsgade 112,8000 Aarhus C,129,6,8.993363,56.142868
20,8.995.000,Reventlowsgade 28,1651 København V,152,5,12.564659,55.671051
21,9.250.000,Dampfærgevej 24B 3 th,2100 København Ø,118,2,12.595431,55.699325
22,845.000,Grønningen 29E,9800 Hjørring,73,2,10.007857,57.449982
23,485.000,Fægangen 14 st mf,4180 Sorø,27,1,11.565970,55.436320
24,660.000,Vestergade 155B,6792 Rømø,67,4,8.549585,55.085459
25,695.000,H C Andersens Vej 65,4700 Næstved,39,2,11.743462,55.231980
26,788.000,Nyvej 13 st th,8920 Randers NV,68,2,10.021711,56.468857
27,945.000,Revlingbakken 33 3 402,9000 Aalborg,68,2,9.898113,57.026064
28,1.195.000,Dronningensgade 19 1 tv,9400 Nørresundby,70,2,9.983979,57.458395
29,1.200.000,Klingegade 13,3700 Rønne,109,2,14.701281,55.097451
30,1.425.000,Østerbro 57 st th,9000 Aalborg,58,2,9.941545,57.045841
31,1.445.000,Bjergbygade 5C,4200 Slagelse,86,2,11.353089,55.400338
32,1.495.000,Orionvej 47B,4700 Næstved,80,3,11.784555,55.256570
33,1.570.000,Vesterbro 45 3 tv,9000 Aalborg,67,2,9.913127,57.046182
34,2.195.000,Bryggertorvet 21,3650 Ølstykke,68,3,9.727486,57.163660
35,2.275.000,Hovedgaden 54B,4050 Skibby,88,3,11.975550,55.497618
36,2.495.000,Søndre Fasanvej 94B,2500 Valby,53,1,12.515868,55.667500
37,2.595.000,Lindevangshusene 90,2630 Taastrup,97,4,12.287389,55.643992
38,2.695.000,Lombardigade 21,2300 København S,53,2,12.613643,55.654364
39,3.198.000,Guldsmedgade 8 2,8000 Aarhus C,72,3,10.207298,56.158247
40,3.350.000,Søbakkevej 2,2640 Hedehusene,87,3,12.207916,55.644278
41,3.495.000,Matthæusgade 48C,1666 København V,71,2,12.546875,55.670699
42,4.295.000,Sundevedsgade 21,1751 København V,68,2,8.615287,56.364720
43,845.000,Nic Rumps Vej 6,4220 Korsør,79,3,11.131693,55.338361
44,875.000,Ægirsvej 9,8920 Randers NV,84,3,9.771470,56.093158
45,1.025.000,Christmas Møllers Vej 11,5200 Odense V,58,2,9.936999,57.009173
46,1.095.000,Kystvejen 10E,9850 Hirtshals,54,2,9.937276,57.581298
47,1.199.000,Møllegården 12,6320 Egernsund,84,3,9.647931,56.979568
48,1.250.000,Albanigade 67,5000 Odense C,48,1,10.396864,55.392196
49,1.325.000,Bronzealdervænget 36,8210 Aarhus V,41,2,10.137478,56.170334

$\bf{Use \ coordinates \ to \ get \ distance}$

In [9]:
dist = []
for x,y in df_data:
    afstand_daycare_json = requests.get(f'https://hvorlangterder.poi.viamap.net/v1/nearestpoi/?token=eyJkcGZ4IjogImh2b3JsYW5ndGVyZGVyIiwgInJlZiI6ICIyIiwgInBhciI6ICIiLCAicHJpdnMiOiAicjFaMHIwRjBrNkJ0V3FRY09VeWtCL3k2U1VwSnYyUWJneVhldHE0SFk0WE8vM1lyVzArSzl3PT0ifQ.2HJhvgEQPhJZuxuNZcR2y5jhmCn1IQpvqgr337BOI3e1ZzW1YmDVJDfELUKBTSXKNKlhq+1h+B5rO6rpLunNhw&fromlatlng={df_data["y"]},{df_data["x"]}&poitypes=daycare&decodepolyline')
    afstand_daycare_json.json()

ValueError: too many values to unpack (expected 2)